/* Instructions.js main class*/
.App2 {
  text-align: center;
  margin: 2%;
}

/*state for showing all the instructions*/
.ins {
  text-align: center;
}

/* 
.ButtonOne {
  margin-left: 35%;
  margin-top: 10%;
} */

/*Next button*/
.ButtonTwo {
  margin-left: 80%;
}

/*Result.js main class*/
.Result {
  text-align: center;
  padding: 20%;
}

/* Questions.js class for h4 tag*/
.Time1 {
  margin-left: 20%;
  margin: 4%;
}

.Time2 {
  margin-left: 10%;
  /* margin-top: 4%; */
}

/* Questions.js class for div tag*/
.lifeline {
  margin-left: 35%;
  margin-right: 23%;
  margin-top: 5%;
}

/* Questions.js class for h3 tag*/
.lifelabel {
  margin-left: 20%;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .App {
    text-align: center;
    padding: 200px;
  }
  p{
    font-size: 20px;
    color: black;
  }
 .Que-bold{
   font-weight: bold;
 }
  /*img class we use it for set bg-img*/
  .img{
    padding:100px;
    background-image:url('./img/image.jpg');
    background-repeat:no-repeat;
    background-position:center;
    max-width: 100%;
    height: auto;
    }

    /* form class we use it for set the background. We use it multiple times*/
    .form {
      background: rgba(207, 207, 207, 0.7);
      padding: 40px;
      max-width:900px;
      margin: 40px auto;
      border-radius: 10px;
      box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    }

    /* table class we use it in Result.js for table style */
    table{
      font-size: 20px;
      color: black;
    }

    /* Questions class we use it in Questions.js */
    .Questions{
      font-size: 20px;
      color: black;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .App {
    text-align: center;
  }
  p{
    color: black;
    font-weight: bold;
  }
  h1 {
    font-family: 'Dancing Script', cursive;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
  }
  .img{
    padding:80px;
    background-image:url('./img/image.jpg');
    background-repeat:no-repeat;
    background-position:center;
    max-width: 100%;
    height: auto;
    }

    .form {
      background: rgba(207, 207, 207, 0.7);
      padding: 20px;
      max-width:900px;
      margin: 40px auto;
      border-radius: 10px;
      box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    }

    table{
      color: black;
      font-weight: bold;
    }

    .Questions{
      color: black;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
  }
  p{
    color: black;
    font-weight: bold;
  }
  .form {
    background: rgba(207, 207, 207, 0.7);
    padding: 5px;;
    border-radius: 10px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }

    .img{
      background-image:url('./img/image.jpg');
      background-repeat:no-repeat;
      background-position:center;
      max-width: 100%;
      height: auto;
      }

    table{
      color: black;
      font-weight: bold;
    }

    .Questions{
      color: black;
    }
}
